<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/main.css"/>
    <meta charset="UTF-8">
</head>
<body>
<div class="top">
    game rooms
</div>

<p>Hello {user.userName} {user.id}</p>
<div>
    <form method="post">
        <button type="submit">nouvelle</button>
    </form>
</div>
{#if error != null}
    <div style="color: red">{error}</div>
{/if}
{#for room in rooms}
    <ul>
    <li>
    <div>
    <div>{room.id}</div>
    <div>
        {#each room.users}
            <li>{it.name} {it.id}</li>
        {/each}
    </div>
    <div>
    {#if room.canStartSkullKing()}
        <form action="{room.startUrl()}" method="post">
            <button type="submit">start</button>
        </form>
    {/if}
    {#if room.isStarted()}
        <a href="{room.skullKingUrl()}">enter</a>
    {/if}
    {#if room.canJoin(user)}
        <form action="{room.joinUrl()}" method="post">
            <button type="submit">join</button>
        </form>
    {/if}
    {#if ! room.isFull() && ! room.isStarted()}
        <form action="{room.addBotUrl()}" method="post">
            <button type="submit">add bot</button>
        </form>
    {/if}

    </div>
    </div>
    </li>
    </ul>
{#else}
    No rooms
{/for}

</body>
</html>